@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.loading-dot {
  animation: bounce 1.4s infinite ease-in-out both;
}

.loading-dot:nth-child(2) {
  animation-delay: -0.16s;
}

.loading-dot:nth-child(3) {
  animation-delay: -0.32s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
